<div class="sidebar" ng-controller="sidebarController as sidebar" style="background-color: {{index.secondaryColor}}">
  <header>
    <logo ng-if="!sidebar.isWindowsPhoneApp" width="120"></logo>
    <img ng-if="sidebar.isWindowsPhoneApp" src="img/logo-negative.png" alt="Copay" width="120">
    <div ng-include="'views/includes/version.html'"></div>
  </header>
  <ion-content>
    <ul class="pr">
      <li ng-show="sidebar.wallets[0]"
        ng-repeat="item in sidebar.wallets track by $index" ng-class="{'selected': item.id == index.walletId}" class="nav-item"
        menu-toggle href ui-sref="walletHome" on-tap="sidebar.switchWallet(item.id, index.walletId)">
        <div class="avatar-wallet" ng-style="{'background-color':item.color}">
          <i class="icon-wallet size-21"></i>
        </div>
        <div class="name-wallet" ng-class="{'m8t':item.n == 1}">{{item.name || item.id}}</div>
        <div class="size-12" ng-show="item.n > 1" translate>{{item.m}}-of-{{item.n}}</div>
      </li>
      <li menu-toggle href ui-sref="add">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <i class="fi-plus size-24 icon vm"></i>
          <div class="tu text-bold">
            <span class="size-12" translate>Add wallet</span>
          </div>
          <div translate>Create, join or import</div>
      </li>
      <li ng-show="!index.noFocusedWallet && !index.isWindowsPhoneApp && (index.glideraEnabled || index.coinbaseEnabled)" menu-toggle href ui-sref="buyandsell">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <i class="icon-bank size-24 icon vm"></i>
          <div class="tu text-bold m5t">
            <span class="size-12" translate>Buy and Sell</span>
          </div>
      </li>
      <li menu-toggle href ui-sref="amazon" ng-show="index.isComplete">
        <i class="icon-arrow-right3 size-18 right m10t vm"></i>
        <i class="fi-shopping-bag size-24 icon vm"></i>
        <div class="tu text-bold m10t">
          <span class="size-12" translate>Gift Cards</span>
        </div>
      </li>
      <li ng-show="!index.noFocusedWallet" menu-toggle href ui-sref="preferencesGlobal">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <i class="fi-widget size-24 icon vm"></i>
          <div class="tu text-bold">
            <span class="size-12" translate>Settings</span>
          </div>
          <div translate>Global preferences</div>
      </li>
    </ul>
  </ion-content>
</div>
